<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.biermacht.brews"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:theme="@style/Theme.Biermacht.Brews" >
        <activity
            android:name=".frontend.MainActivity"
            android:label="@string/title_activity_main"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".frontend.DisplayRecipeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_display_recipe">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.biermacht.brews.MainActivity" />
        </activity>
        <activity
            android:name=".frontend.AddNewRecipeActivity"
            android:label="@string/title_activity_add_new_recipe"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.biermacht.brews.frontend.AddFermentableActivity"
            android:label="@string/title_activity_add_fermentable"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.biermacht.brews.frontend.EditFermentableActivity"
            android:label="@string/title_activity_edit_fermentable"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".frontend.EditRecipeActivity"
            android:label="@string/title_activity_edit_recipe"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".frontend.EditMashProfileActivity"
            android:label="@string/title_activity_edit_profile"
            android:windowSoftInputMode="adjustResize" >
        </activity>
		<activity
            android:name=".frontend.AddHopsActivity"
            android:label="@string/title_activity_add_hops"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".frontend.EditHopActivity"
            android:label="@string/title_activity_edit_hop"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".frontend.AddYeastActivity"
            android:label="@string/title_activity_add_yeast"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".frontend.EditYeastActivity"
            android:label="@string/title_activity_edit_yeast"
            android:windowSoftInputMode="adjustResize" >
        </activity>
		<activity
            android:name=".frontend.AddMiscActivity"
            android:label="@string/title_activity_add_misc"
            android:windowSoftInputMode="adjustResize" >
        </activity>
		<activity
            android:name=".frontend.EditMiscActivity"
            android:label="@string/title_activity_edit_misc"
            android:windowSoftInputMode="adjustResize" >
        </activity>
    	<activity
            android:name=".frontend.EditFermentationProfileActivity"
            android:label="@string/title_activity_edit_fermentation_profile"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".frontend.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".frontend.BrewTimerActivity"
            android:label="@string/title_activity_brew_timer"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
                android:name=".frontend.AddCustomFermentableActivity"
                android:label="@string/title_activity_add_fermentable"
                android:configChanges="orientation|screenSize"
                android:windowSoftInputMode="adjustResize" >
        </activity>
    </application>
</manifest>
